/* Reset browser's default styling */
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-moz-focus-inner {
	border: 0;
}

/* +==============+ */
/* |              | */
/* |              | */
/* | GLOBAL SCOPE | */
/* |              | */
/* |              | */
/* +==============+ */

:root {
	/* COLORS */
	--color-light: rgb(244, 244, 249);
	--color-dark: rgb(7, 16, 19);
	--color-primary: rgb(209, 96, 20);
	--color-secondary: rgb(40, 175, 176);
	--color-altern: rgb(153, 104, 136);
	--color-menu: rgba(7, 16, 19, .75);

	/* FONTS */
	--font-main: 'Roboto', sans-serif;
	--font-accent: 'Lobster Two', cursive;

	/* FONT SIZES */
	--size-h1: 2.25rem;
	--size-h2: 1.85rem;
	--size-h3: 1.65rem;
	--size-p: 1.15rem;
	--size-logo: 2rem;
	--size-big: 1.5rem;
	--size-small: 0.85rem;

	/* EFFECTS */
	--box-shadow: 3px 5px 7px rgba(0,0,0,.25);
	--transform: transform 350ms ease-in-out;
}

body {
	background: var(--color-light);
	color: var(--color-dark);
	font-family: var(--font-main);
	line-height: 1.5;
}

/* +============+ */
/* |            | */
/* |            | */
/* | TYPOGRAPHY | */
/* |            | */
/* |            | */
/* +============+ */

h1 {
	font-family: var(--font-accent);
	font-size: var(--size-h1);
}

h2 {
	font-size: var(--size-h2);
}

h3 {
	font-size: var(--size-h3);
}

p {
	font-size: var(--size-p);
}

a {
	color: var(--color-primary);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-secondary);
}

a:visited {
	color: var(--color-primary);
}

a:focus {
	outline: none;
	box-shadow: 
		0 0 0 6px var(--color-light),
		0 0 0 8px var(--color-primary)
	;
}

.text-small {
	font-size: var(--size-small);
}

.text-big {
	font-size: var(--size-big);
}

.text-cursive {
	font-style: italic;
}

.text-bold {
	font-weight: 900;
}

.text-thin {
	font-weight: 100;
}

.text-logo {
	font-family: var(--font-accent);
	font-size: var(--size-logo);
}

/* +================+ */
/* |                | */
/* |                | */
/* | GENERAL LAYOUT | */
/* |                | */
/* |                | */
/* +================+ */

section {
	width: 100%;
	margin: auto;
	padding: 2rem 1rem;
}

.container {
	width: 90%;
	max-width: 1024px;
	margin: auto;
}

.btn-primary {
	background: var(--color-primary);
	color: var(--color-light);
	border: 1px solid var(--color-primary);
	border-radius: 20px;
	padding: .5em .75em;
	box-shadow: var(--box-shadow);
}

.btn-primary:hover {
	background: transparent;
	color: var(--color-primary);
}

.btn-primary:focus {
	outline: none;
	box-shadow: 
		0 0 0 6px var(--color-light),
		0 0 0 8px var(--color-primary)
	;
}

.btn-secondary {
	background: var(--color-secondary);
	color: var(--color-light);
	border: 1px solid var(--color-secondary);
	border-radius: 20px;
	padding: .5em .75em;
	box-shadow: var(--box-shadow);
}

.btn-secondary:hover {
	background: transparent;
	color: var(--color-secondary);
}

.btn-secondary:focus {
	outline: none;
	box-shadow: 
		0 0 0 6px var(--color-light),
		0 0 0 8px var(--color-secondary)
	;
}

.hidden {
	display: none;
}

/* Dark-mode on odd sections */
section:nth-child(odd) {
	background-color: var(--color-dark);
	color: var(--color-light);
}

section:nth-child(odd) a:focus {
	box-shadow: 
		0 0 0 6px var(--color-dark),
		0 0 0 8px var(--color-primary)
	;
}

section:nth-child(odd) .btn-primary:focus {
	box-shadow: 
		0 0 0 6px var(--color-dark),
		0 0 0 8px var(--color-primary)
	;
}

section:nth-child(odd) .btn-secondary:focus {
	box-shadow: 
		0 0 0 6px var(--color-dark),
		0 0 0 8px var(--color-secondary)
	;
}

/* +============+ */
/* |            | */
/* |            | */
/* | NAVIGATION | */
/* |            | */
/* |            | */
/* +============+ */

.navbar {
	background: var(--color-menu);
	color: var(--color-light);
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-items {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.navbar-items li a {
	color: var(--color-light);
	text-transform: uppercase;
	letter-spacing: 4px;
}

.navbar-items li a:hover {
	color: var(--color-primary);
}

.navbar-toggle {
	display: none;
}

/* +=================+ */
/* |                 | */
/* |                 | */
/* | LANDING SECTION | */
/* |                 | */
/* |                 | */
/* +=================+ */

.section-landing {
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
}

/* +===============+ */
/* |               | */
/* |               | */
/* | MEDIA QUERIES | */
/* |               | */
/* |               | */
/* +===============+ */

/* Navigation for mobile devices */
@media (max-width: 640px) {

	.navbar-items {
		background: var(--color-menu);
		backdrop-filter: blur(8px);
		flex-direction: column;
		position: fixed;
		z-index: 1000;
		inset: 0 0 0 40%;
		padding: min(30vh, 8rem) 2em;
		transform: translateX(100%);
		transition: var(--transform);
	}

	.navbar-items > li > a:focus {
		box-shadow: 
				0 0 0 6px var(--color-dark),
				0 0 0 8px var(--color-primary)
			;
	}

	.navbar-items[data-visible="true"] {
		transform: translateX(0%);
	}

	.navbar-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background: none;
		border: none;
		color: var(--color-light);
		width: 1rem;
		right: min(5vw, 1024px);
		cursor: pointer;
	}

	.navbar-toggle:hover {
		color: var(--color-primary);
	}

	.navbar-toggle:focus {
		outline: 1px solid var(--color-light);
		outline-offset: 6px;
	}
}